<?xml version="1.0"?>
<robot name="so_arm_100_5dof" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />

  <!-- so_arm_100 -->
  <xacro:include filename="$(find so_arm_100_description)/urdf/so_arm_100_5dof_arm.urdf.xacro" />

  <xacro:so_arm_100_5dof prefix="$(arg prefix)" />

</robot>
