<?xml version="1.0"?>
<robot name="so_arm_100_5dof" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="initial_positions_file" default="" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_topic_hardware_interface" default="false" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="ros2_control_type" default="so_arm_100_5dof_position" />
  <xacro:arg name="ros2_controllers_file" default="" />

  <!-- so_arm_100 -->
  <xacro:include filename="$(find so_arm_100_description)/urdf/so_arm_100_5dof_arm.urdf.xacro" />

  <xacro:so_arm_100_5dof prefix="$(arg prefix)" />

  <!-- Gazebo simulation -->
  <xacro:if value="$(arg use_sim)">
      <xacro:include filename="$(find so_arm_100_description)/gazebo/so_arm_100_5dof.gazebo.xacro" />
 
      <!-- fix the robot to the world -->
      <link name="world"/>
      <joint name="$(arg prefix)world_fixed" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="$(arg prefix)base_link"/>
      </joint>

      <xacro:so_arm_100_5dof_gazebo
        prefix="$(arg prefix)"
        initial_positions_file="$(arg initial_positions_file)"
        ros2_controllers_file="$(arg ros2_controllers_file)"
        use_topic_hardware_interface="$(arg use_topic_hardware_interface)" />
  </xacro:if>

  <!-- ros2_control -->
  <xacro:include filename="$(find so_arm_100_description)/ros2_control/$(arg ros2_control_type).ros2_control.xacro" />

  <xacro:so_arm_100_5dof_system
    name="SOARM100System"
    prefix="$(arg prefix)"
    use_sim="$(arg use_sim)"
    use_topic_hardware_interface="$(arg use_topic_hardware_interface)"
    use_fake_hardware="$(arg use_fake_hardware)" />

</robot>
